*::before,
*::after,
*{
  padding:0;
  margin:0;
}
body{
  background-color: #C9EAF8;

}

h1{
  text-align: center;
  padding:2%;
  font-family: 'Acme', sans-serif;
  font-size: 5rem;
  color: #393E46;

}

.container{
  /* border:2px solid black; */
  width:60vw;
  height:70vh;
  top:23vh;
  left:20vw;
  position: absolute;
  display: grid;
  grid-template-columns: 25% 75%;
}
.sidebar{
  background-color:#5A8090;
  display: flex;
  flex-flow:column;
  justify-content: center;
}

.mainbar{
  background-color: #7FB6CD;
}
button,
label,
.game{
  background-color: #97B4C0;
  margin-top:4px;
}

ul{
  list-style: none;
}
button,
ul li{
  cursor:pointer;
}
.board{
  border:1px solid black;
  width:70%;
  height:70%;
  margin:auto;
  display: none;
  grid-template-columns: repeat(3,auto);
  justify-content: center;
  align-content: center;
}
.cell{
  width:100px;
  height:100px;
  border:1px solid black;
  display: flex;
  align-items:center;
  justify-content: center;
}
.cell:first-child,
:nth-child(2),
:nth-child(3){
  border-top:none;
}
.cell:last-child,
:nth-child(8),
:nth-child(7){
  border-bottom: none;
}
.cell:nth-child(3n){
  border-right: none;
}
.cell:nth-child(3n+1){
  border-left:none;
}

.board.circle .cell:not(.cross):not(.circle):hover::after,
.cell.circle::after{
  content:'';
  background-color: #7FB6CD;
  height:91px;
  width:87px;
  border-radius: 50%;
  position:absolute;

}

.board.circle .cell:not(.cross):not(.circle):hover::before,
.cell.circle::before{
  content:'';
  background-color: #035172;
  height:97px;
  width:93px;
  border-radius: 50%;
  position: absolute;
}

.board.cross .cell:not(.circle):not(.cross):hover::after,
.cell.cross::after{
  content:'';
  background-color:#305172;
  position:absolute;
  height:97px;
  width:3px;
  transform:rotate(-45deg);
}

.board.cross .cell:not(.circle):not(.cross):hover::before,
.cell.cross::before{
  content:'';
  background-color:#305172;
  position:absolute;
  height:97px;
  width:3px;
  transform:rotate(45deg);
}

.cell.circle,
.cell.cross{
  cursor:not-allowed;
}
